.container {
  color: var(--blue20);
  background-color: --var(--black50);
  padding: 0 1rem;
}

.title {
  color: var(--white10);
  font-weight: 700;
  font-size: 2rem;
}

.cardWrapper {
  display: flex;
  padding: 1.7rem 0 1.5rem;
  margin-top: 1.5rem;
  margin-right: 0.75rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wrap {
  flex-wrap: wrap;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.cardImg:hover {
  z-index: 50;
}

@media (min-width: 768px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
